page-landing {
  .icon-lg {
    font-size: 2.2em;
  }
  .landing-btn {
    height: 5em;
    width: 100%;
    border-radius: 7px;
  }

  //.landing-background-div {
  //  position: relative;
  //  height: 100%;
  //  width: 100%;
  //}
  //.background-content {
  //  margin: 0 auto;
  //  position: absolute;
  //  z-index: 99;
  //  top: 180px;
  //  left: 2%;
  //  right: 2%;
  //  color: #000;
  //  font-size: 14px;
  //}
  //.landing-col {
  //  width: 100%;
  //}
  //.landing-btn {
  //  width: 65px;
  //  height: 65px;
  //  border-radius: 50px;
  //  font-size: 20px;
  //  padding: 5px 0;
  //  border: 2px solid #dcedc1;
  //  background: rgba(0,0,0,0.4) ;
  //  color: white;
  //}
}
