// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #077c4e,
  secondary:  #57302f,
  danger:     #f53d3d,
  light:      #f2f2f2,
  dark:       #222,
  white:      #fff,
  fb-color:   #3b5998,
  youtube-color:#cc181e
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here



// App Width Variables
//----------------------------------------------------
// All Variables Defination
$menu-width : 260px;



// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(../assets/fonts/raleway/Raleway-Light.ttf) format('truetype');
}
//@font-face {
//  font-family: 'Raleway';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Raleway Regular'), local('Raleway-Regular'), url(../assets/fonts/raleway/Raleway-Regular.ttf) format('truetype');
//}
//@font-face {
//  font-family: 'Raleway';
//  font-style: normal;
//  font-weight: 600;
//  src: local('Raleway Semibold'), local('Raleway-Semibold'), url(../assets/fonts/raleway/Raleway-SemiBold.ttf) format('truetype');
//}
//@font-face {
//  font-family: 'Raleway';
//  font-style: normal;
//  font-weight: 700;
//  src: local('Raleway Bold'), local('Raleway-Bold'), url(../assets/fonts/raleway/Raleway-Bold.ttf) format('truetype');
//}
