page-about-us {
  .item-accordian {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
    z-index: 1;
  }
  .scroll-height {
    height: 150px !important;
  }

  .team-slide{
    height: 220px;
    img{
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }
  }

}
